.DS_Store
node_modules/*
uni_modules/*
*.log
*.log*
.history

dist

# bak file
_api.js
_discover

.project
*.sublime-workspace
*.sublime-project
.vscode
.idea

src/project.config.json

.wepycache
project.config.json
project.private.config.json

# editor
.vscode
.env.*.local
